@use 'variables' as *;

/* ==============================
    CSS RESET
============================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==============================
    Base Global Styles
============================== */

html {
  font-size: 100%;
}

body {
  font-family: $font-body;
  font-size: $fs-body;
  color: $neutral-900;
  background-color: $neutral-0;
  line-height: 1.6;
  min-width: $min-screen;
}

/* Typography helpers */
.h1,
h1 {
  font-family: $font-display;
  font-weight: $fw-bold;
}

.h2,
h2,
.h3,
h3 {
  font-family: $font-body;
  font-weight: $fw-semibold;
}

/* Links */
a {
  text-decoration: none;
  color: $blue-500;

  &:hover {
    color: $blue-700;
  }
}

/* Global container size helpers */
.container {
  width: min(100% - 2rem, $desktop-width);
  margin-inline: auto;
}

/* Utility colors */
.text-light {
  color: $neutral-0;
}

.text-muted {
  color: $neutral-300;
}
